@font-face {
  font-family: Constantia;
  font-weight: normal;
  src: url(assets/fonts/constan.ttf);
}
@font-face {
  font-family: Constantia;
  font-weight: 700;
  src: url(assets/fonts/constantia__bold.ttf);
}
